# Logs
webapp/logs
*.log
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/pnpm-debug.log*
webapp/lerna-debug.log*

webapp/node_modules
webapp/dist
webapp/dist-ssr
webapp/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
target